@model ForgotPassword_vm

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_main";
}

<section class="auth d-flex">

    <div class="auth-left bg-main-50 flex-center p-24">
        <img src="/Admin/assets/images/thumbs/auth-img3.png" alt="Forgot Password Image">
    </div>

    <div class="auth-right py-40 px-24 flex-center flex-column">
        <div class="auth-right__inner mx-auto w-100">

            <a asp-controller="Home" asp-action="Index" class="auth-right__logo">
                <img src="/Admin/assets/images/logo/logo.png" alt="Logo">
            </a>

            <h2 class="mb-8">Forgot Password? 🔒</h2>
            <p class="text-gray-600 text-15 mb-32">
                Lost your password? Please enter your email address. You will receive a link to create a new password via email.
            </p>

            <form asp-action="ForgotPassword" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-24">
                    <label asp-for="Email" class="form-label mb-8 h6">Email</label>
                    <div class="position-relative">
                        <input asp-for="Email" class="form-control py-11 ps-40" placeholder="Type your email address">
                        <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex">
                            <i class="ph ph-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="text-danger text-sm"></span>
                </div>

                <button type="submit" class="btn btn-main rounded-pill w-100">Send Reset Link</button>

                <a asp-action="Signin" class="my-32 text-main-600 flex-align gap-8 justify-content-center hover-text-decoration-underline">
                    <i class="ph ph-arrow-left d-flex"></i> Back To Login
                </a>


            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}